urllib3==1.25.3
Polygon3==3.0.8
Pillow==6.2.1
pandas==1.1.5
apted==1.0.3
distance==0.1.3
lxml==4.6.3
tqdm==4.60.0
unidecode==1.2.0
html2markdown==0.1.7
scikit-build
numpy
tabulate
Levenshtein==0.21.1
nltk==3.6.7
boto3==1.4.7
matplotlib
re
bs4
openpyxl
pandas
